.tengah{
	background-color: #f8f5a6;
	background-position:center;
	background-image: url("tenor.gif");
    background-repeat: repeat;
    width:auto;
    height:auto;
          
        }
  

  table{
   background-color: #FFE4E1 ;
   margin:auto;

  }